h2{
    text-align: center;
    margin: 5px;
}
/* .mcqs{
    border: 2px solid black;
} */
.paper-header-detail{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
  
